body {
    font-family: Poppins, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* header section start */
header {
    background: linear-gradient(rgba(65, 64, 64, 0.39), rgba(32, 32, 32, 0.91)) 0% 0% / cover no-repeat, url("./img/donation1.jpg");
    padding: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}

header h1 {
    font-size: 50px;
    margin: 0px;
}

header p {
    color: rgb(216, 216, 216);
    font-size: 15px;
}

.btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(255, 89, 89);
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: -35px;
}
/* header section end */
/* donate-today section start */
.donate-today {
    text-align: center;
    padding: 100px 200px;
}

.donate-today h1 {
    font-size: 35px;
    margin: 0px;
    font-weight: 600;
}

.donate-today p {
    color: rgb(112, 112, 112);
    font-size: 15px;
}

.amount {
    display: flex;
    margin-top: 30px;
}

.amount h1 {
    text-align: center;
    margin: 22px;
    background: rgba(221, 221, 221, 0.18);
    padding: 25px 10px;
    border-radius: 5px;
    color: rgb(112, 112, 112);
    font-size: 30px;
}

.amount .amount-200 {
    border: 2px solid rgb(255, 89, 89);
    color: rgb(255, 89, 89);
    background: rgba(255, 89, 89, 0.176);
}

.donate-today input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 6px 280px;
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
/* donate today section end */
/* donate plan section start */
.donate-plan {
    padding: 0px 100px 100px;
    margin-top: 0px;
}

.donate-plan-text {
    text-align: center;
}

.donate-plan-text h1 {
    font-size: 35px;
    margin: 0px;
}

.donate-plan-text p {
    padding: 0px 200px;
    color: rgb(112, 112, 112);
    font-size: 15px;
}

.donate-plan-items {
    display: flex;
}

.donate-plan-items .items-1 {
    width: 28%;
    background: rgb(237, 245, 246);
    padding: 15px;
    border-radius: 5px;
    margin: 30px auto;
}

.donate-plan-items .items-2 {
    background-color: rgb(255, 238, 238);
}

.donate-plan-items .items-3 {
    background: rgb(255, 244, 214);
}
/* donate plan section end */
/* latest work section start */
.latest-work {
    padding-bottom: 100px;
}

.latest-work-text {
    text-align: center;
    padding: 0px 100px 90px;
}

.latest-work-text p {
    font-size: 15px;
    font-weight: bold;
}

.latest-work-text h1 {
    font-size: 35px;
    margin: 0px;
}

.latest-work-text span {
    color: rgb(255, 89, 89);
}

.latest-work-items {
    display: flex;
}

.latest-work-item-1 {
    width: 22%;
    box-shadow: rgb(112, 112, 112) 1px 1px 30px;
    padding: 0px;
    border-radius: 5px;
    margin: 0px auto;
}

.latest-work-item-1 img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.latest-work-item-1 p {
    color: rgb(255, 89, 89);
}

.latest-work-item-1-text {
    padding: 5px 10px;
}
/* laset work section end */
/* update section start */
.update {
    padding-bottom: 100px;
}

.update h1 {
    font-size: 35px;
    text-align: center;
}

.update p {
    color: rgb(143, 140, 140);
    text-align: center;
    padding: 0px 200px;
}

.update form {
    background: rgb(255, 244, 214);
    padding: 80px 90px;
    margin: 30px 300px;
    border-radius: 5px;
}

.update form input {
    border: none;
    background: rgb(217, 217, 217);
    padding: 13px 40px;
    border-radius: 5px 0px 0px 5px;
}

.update a {
    padding: 7px 7px 9px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 89, 89);
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
}
/* update section end */
/* footer section start */
footer {
    background: rgb(0, 0, 0);
    padding: 50px 0px;
    text-align: center;
}

footer h1 {
    color: rgb(255, 89, 89);
    font-size: 20px;
}

footer small {
    color: rgb(216, 216, 216);
}
/* footer section end */