body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background: url(./img/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    text-align: center;
    color: #fff;
}
header h1{
    font-size: 50px;
    margin: 0;
}
header p{
    color: #d8d8d8;
    font-size: 15px;
}
.btn {
    color: #fff;
    text-decoration: none;
    background: #ff5959;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: -35px;
}
/* header section end */
/* donate today section start */
.donate-today{
    text-align: center;
    padding: 100px 200px;
}
.donate-today h1{
    font-size: 35px;
    margin: 0;
    font-weight: 600;
}
.donate-today p{
    color: #707070;
    font-size: 15px;
}
.amount{
    display: flex;
    /* margin: 10px 0px; */
    margin-top: 30px;
}
.amount h1{
    text-align: center;
    margin: 22px;
    background: #dddddd2e;
    padding: 25px 10px;
    border-radius: 5px;
    color: #707070;
    font-size: 30px;
}
.amount .amount-200{
    border: 2px solid #ff5959;
    color: #ff5959;
    background: #ff59592d;
}
input{
    border: none;
    border-bottom: 1px solid #dadada;
    padding: 6px 280px;
    margin-top: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
/* donate today section end */
/* donate plan section start */
.donate-plan{
    padding: 0px 100px 100px 100px;
    /* margin-top: 0px; */
}
.donate-plan-text{
    text-align: center;
}
.donate-plan-text h1{
    font-size: 35px;
    margin: 0;
}
.donate-plan-text p{
    padding: 0px 200px;
    color: #707070;
    font-size: 15px;
}
.donate-plan-items{
    display: flex;
}
.donate-plan-items .items-1{
    width: 30%;
    background: #edf5f6;
    padding: 15px;
    border-radius: 5px;
    margin: 30px 10px;
}
.donate-plan-items .items-2{
    background-color: #ffeeee;
}
.donate-plan-items .items-3{
    background: #fff4d6;
}
/* donate plan section end */
/* latest work section start */
.latest-work{
    padding-bottom:100px ;
}
.latest-work-text{
    text-align: center;
    padding: 100px;
}
.latest-work-text p{
    font-size: 15px;
    font-weight: bold;
}
.latest-work-text h1{
    font-size: 35px;
    margin: 0;
}
.latest-work-text span{
    color: #ff5959;
}
.latest-work-items{
    display: flex;
}
.latest-work-item-1{
     width: 22%;
     box-shadow: 1px 1px 30px #707070;
     margin: 0px 10px;
     padding: 10px;
}
.latest-work-item-1 img{
    width: 100%;
}
.latest-work-item-1 p{
    color: #ff5959;
}
/* latest work section end */
/* update section start */
.update{
    padding-bottom: 100px;
}
.update h1{
    font-size: 35px;
    text-align: center;
}
.update p{
    color: #8f8c8c;
    text-align: center;
    padding: 0px 200px;
}
/* update section end */
/* footer section start */
footer{
    background: #000000;
    padding: 50px 0px;
    text-align: center;
}
footer h1{
    color: #ff5959;
    font-size: 20px;
}
footer small{
    color: #d8d8d8;
}
/* footer section end */




 

 


